.card {


    margin: auto;



}

h1 {


    text-align: center;
    margin-top: 50px;


}

p {

    text-align: center;
    margin-top: 50px;


}

.bi {


    margin-top: 100px;
    margin-left: 100px;


}


/* clase para añadir margen de 10px a la fila de las primeras 3 cards para que no esten pegadas al namvar */
.mar {
    margin-top: 10px;
}

/* clase que añade la imagen y la ajusta */
.fondoIndex {
    background-image: url(/PaginaAros/img/Neon1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* color y fuente del texto */
.colorTexto {
    color: white;
    font-family: monospace;
}

/* añade la opacidad */
.cssOpacity {
    opacity: 90%;
}

/* añade opacidad y centra el texto  */
.cssOpacityCard {
    opacity: 90%;
    text-align: center;
}


.cssCont {
    background-color: black;
    opacity: 85%;
    margin-top: 35px;

}


.iniSesion {
    margin: auto;
    margin-bottom: 15px;
    max-width: 30rem;
    margin-bottom: 5px;
    margin-top: 30px;
}

/* pequeño container para el boton de pago */
.contCarrito {
    background-color: rgb(56, 59, 63);
    text-align: center;
    width: 110px;
    height: 48px;
    border-radius: 10px;
    opacity: 90%;
}

/* css container producto */
.cssIntento {
    background-color: rgb(41, 44, 47);
    opacity: 90%;
    border-radius: 10px;
}