.card{


    margin: auto;



}

h1{

    
    text-align: center;
    margin-top: 50px;


}

p{

    text-align: center;
    margin-top: 50px;


}

.bi {

    
    margin-top: 100px;
    margin-left: 100px;


}


